<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.njuteam.dao.help.HelpInfoMapper">

	<resultMap id="helpMap" type="helpInfoPO">
		<id column="help_id" property="id" javaType="long"/>
		<result column="user_id" property="userId" javaType="long"/>
		<result column="help_type" property="helpType" javaType="string"
				jdbcType="VARCHAR"/>
		<result column="help_publish_date" property="publishDate"
				javaType="java.util.Date"/>
		<result column="help_name" property="name" javaType="string"/>
		<result column="help_deadline" property="deadLine"
				javaType="java.util.Date"/>
		<result column="help_tag" property="tag" javaType="string"/>
		<result column="help_comment" property="comment" javaType="string"/>
		<result column="help_urgency" property="urgency" javaType="int"/>
		<result column="help_finish_status" property="finishStatus"
				javaType="string" jdbcType="VARCHAR"/>
		<collection property="urlList" ofType="helpImage" column="help_id">
			<id column="image_id" property="id" javaType="long"/>
			<result column="image_help_id" property="helpId" javaType="long"/>
			<result column="image_url" property="imageUrl" javaType="string"/>
		</collection>
	</resultMap>

	<resultMap id="historyMap" type="helpSearchHistoryPO">
		<id column="history_id" property="id" javaType="long"/>
		<result column="user_id" property="userId" javaType="long"/>
		<result column="history_search_time" property="searchTime"
				javaType="java.util.Date"/>
		<result column="history_keyword" property="keyword" javaType="string"/>
	</resultMap>

	<resultMap id="imageMap" type="helpImage">
		<id column="image_id" property="id" javaType="long"/>
		<result column="help_id" property="helpId" javaType="long"/>
		<result column="image_url" property="imageUrl" javaType="string"/>
	</resultMap>

	<resultMap id="clickMap" type="helpInfoClickPO">
		<id column="click_id" property="id" javaType="long"/>
		<result column="user_id" property="userId" javaType="long"/>
		<result column="help_id" property="helpId" javaType="long"/>
		<result column="click_start_time" property="startTime"
				javaType="java.util.Date"/>
		<result column="click_end_time" property="endTime"
				javaType="java.util.Date"/>
	</resultMap>

	<select id="queryHelpInfoById" parameterType="long" resultMap="helpMap">
		SELECT info.*,
			   helpImage.`image_id`  AS image_id,
			   helpImage.`help_id`   AS `image_help_id`,
			   helpImage.`image_url` AS `image_url`
		FROM `help_info` info
				 LEFT JOIN `help_image` helpImage
						   ON info.`help_id` = helpImage.`help_id`
		WHERE info.`help_id` = #{id}
		ORDER BY info.`help_publish_date` DESC
	</select>

	<select id="queryHelpInfoByUserId" parameterType="long" resultMap="helpMap">
		SELECT info.*,
			   helpImage.`image_id`  AS image_id,
			   helpImage.`help_id`   AS `image_help_id`,
			   helpImage.`image_url` AS `image_url`
		FROM `help_info` info
				 LEFT JOIN `help_image` helpImage
						   ON info.`help_id` = helpImage.`help_id`
		WHERE info.`user_id` = #{userId}
		ORDER BY info.`help_publish_date` DESC
	</select>

	<select id="queryHelpInfoByKeyword" parameterType="string"
			resultMap="helpMap">
		SELECT info.*,
			   helpImage.`image_id`  AS image_id,
			   helpImage.`help_id`   AS `image_help_id`,
			   helpImage.`image_url` AS `image_url`
		FROM `help_info` info
				 LEFT JOIN `help_image` helpImage
						   ON info.`help_id` = helpImage.`help_id`
		WHERE (info.`help_name` LIKE CONCAT('%', #{keyword}, '%') OR
			   info.`help_comment` LIKE CONCAT('%', #{keyword}, '%'))
		  AND info.`help_finish_status` = '进行中'
		ORDER BY info.`help_publish_date` DESC
	</select>

	<select id="querySearchHistory" parameterType="long" resultMap="historyMap">
		SELECT *
		FROM `help_search_history`
		WHERE `user_id` = #{userId}
		ORDER BY `history_search_time` DESC
		<if test="size != -1">LIMIT 0, #{size}</if>
	</select>

	<select id="queryHelpInfoInProgress" resultMap="helpMap">
		SELECT info.*,
			   helpImage.`image_id`  AS image_id,
			   helpImage.`help_id`   AS `image_help_id`,
			   helpImage.`image_url` AS `image_url`
		FROM `help_info` info
				 LEFT JOIN `help_image` helpImage
						   ON info.`help_id` = helpImage.`help_id`
		WHERE `help_finish_status` = '进行中'
		ORDER BY info.`help_publish_date` DESC
	</select>

	<select id="queryHelpImage" resultMap="imageMap">
		SELECT *
		FROM `help_image`
		WHERE `image_id` = #{imageId}
	</select>

	<select id="queryClick" resultMap="clickMap">
		SELECT *
		FROM `help_info_click`
		WHERE `user_id` = #{userId}
		  AND `help_id` = #{helpId}
	</select>

	<insert id="insertHelpInfo" parameterType="helpInfoPO"
			useGeneratedKeys="true"
			keyProperty="id" keyColumn="help_id">
		INSERT INTO `help_info`(`user_id`, `help_type`, `help_publish_date`,
								`help_name`, `help_deadline`, `help_tag`,
								`help_comment`, `help_urgency`,
								`help_finish_status`)
		VALUES (#{userId}, IFNULL(#{helpType}, '帮跑腿'),
				IFNULL(#{publishDate}, NOW()), #{name}, #{deadLine}, #{tag},
				IFNULL(#{comment}, '无备注'),
				IFNULL(#{urgency}, 3), IFNULL(#{finishStatus}, '进行中'))
	</insert>

	<insert id="insertImage" useGeneratedKeys="true" keyColumn="image_id"
			keyProperty="id">
		INSERT INTO `help_image`(`help_id`, `image_url`)
		VALUES (#{helpId}, #{imageUrl})
	</insert>

	<insert id="insertSearchHistory" parameterType="helpSearchHistoryPO"
			useGeneratedKeys="true" keyColumn="history_id" keyProperty="id">
		INSERT INTO `help_search_history`(`user_id`, `history_keyword`,
										  `history_search_time`)
		VALUES (#{userId}, #{keyword}, NOW())
	</insert>

	<insert id="insertClick" parameterType="helpInfoClickPO"
			useGeneratedKeys="true" keyColumn="click_id" keyProperty="id">
		INSERT INTO `help_info_click`(`user_id`, `help_id`, `click_start_time`)
		VALUES (#{userId}, #{helpId}, IFNULL(#{startTime}, NOW()))
	</insert>

	<update id="updateHelpInfo" parameterType="helpInfoPO">
		UPDATE `help_info`
		<set>
			<if test="userId != null">`user_id` = #{userId},</if>
			<if test="helpType != null">`help_type` = #{helpType},</if>
			<if test="publishDate != null">`help_publish_date` =
				#{publishDate},
			</if>
			<if test="name != null">`help_name` = #{name},</if>
			<if test="deadLine != null">`help_deadline` = #{deadLine},</if>
			<if test="tag != null">`help_tag` = #{tag},</if>
			<if test="urgency != null and urgency >= 0">`help_urgency` =
				#{urgency},
			</if>
			<if test="finishStatus != null">`help_finish_status` =
				#{finishStatus}
			</if>
		</set>
		WHERE `help_id` = #{id}
	</update>

	<update id="updateFinishStatus">
		UPDATE `help_info`
		<set>
			<if test="finishStatus != null">`help_finish_status` =
				#{finishStatus, typeHandler = com.weixin.njuteam.config.ValueEnumTypeHandler}
			</if>
		</set>
		WHERE `help_id` = #{helpId}
	</update>

	<update id="updateClickEndTime">
		UPDATE `help_info_click`
		<set>
			`click_end_time` = NOW()
		</set>
		WHERE `click_id` = #{clickId}
	</update>

	<update id="updateImage" useGeneratedKeys="true" keyProperty="id"
			keyColumn="image_id">
		UPDATE `help_image`
		<set>
			<if test="helpId != null">`help_id` = #{helpId},</if>
			<if test="imageUrl != null">`image_url` = #{imageUrl}</if>
		</set>
		WHERE `image_id` = #{imageId}
	</update>

	<update id="updateClick" parameterType="long">
		UPDATE `help_info_click`
		SET `click_start_time` = NOW(),
			`click_end_time`   = NULL
		WHERE `click_id` = #{clickId}
	</update>

	<delete id="deleteHelpInfo" parameterType="long">
		DELETE
		FROM `help_info`
		WHERE `help_id` = #{id}
	</delete>

	<delete id="deleteAllImage" parameterType="long">
		DELETE
		FROM `help_image`
		WHERE `help_id` = #{helpId}
	</delete>

	<delete id="deleteImage" parameterType="long">
		DELETE
		FROM `help_image`
		WHERE `image_id` = #{imageId}
	</delete>

	<delete id="deleteSearchHistory" parameterType="long">
		DELETE
		FROM `help_search_history`
		WHERE `history_id` = #{historyId}
	</delete>

	<delete id="deleteAllSearchHistory" parameterType="long">
		DELETE
		FROM `help_search_history`
		WHERE `user_id` = #{userId}
	</delete>
</mapper>
